@import 'scss/_variables.scss';

.discogs-list {
    .discogs-list-row {
        display: flex;
        padding: 1rem;

        .discogs-list-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-left: 1rem;

            .discogs-list-artist {
                font-style: italic;
                font-size: 1.4rem;
            }
        }
    }
}
