@import 'scss/_variables.scss';

.rating--stars-row {
  display: flex;
  padding: 0.5rem 0;

  > span {
    margin-right: 1rem;
  }

  .rating--stars {
    display: block;
    display: flex;
    justify-content: space-between;
    width: 100px;
    cursor: pointer;

    .star-wrapper {
      height: 13px;
      width: 13px;

      .clip {
        box-sizing: border-box;
        padding: 0.2rem 0.3rem;
        clip-path: polygon(
          50% 0%,
          61% 35%,
          98% 35%,
          68% 57%,
          79% 91%,
          50% 70%,
          21% 91%,
          32% 57%,
          2% 35%,
          39% 35%
        );
        background-color: $eggshell;

        &.half {
          clip-path: polygon(50% 0%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        }

        &.background {
          top: 0;
          left: 0;
          position: absolute;
          opacity: 0.2;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
