@import 'scss/_variables.scss';

.paginator {
    font-family: 'Roboto Mono', sans-serif;
    display: flex;
    flex-direction: column;
    color: $darker-grey;
    font-weight: $semi-bold;
    padding-top: 1rem;

    .paginator-controls {
        display: flex;
        align-items: flex-end;
    }

    button,
    .fa-ellipsis-h {
        margin-right: 0.5rem;
    }

    .fa-ellipsis-h {
        font-weight: $regular;
    }

    .paginator-status {
        margin-top: 1rem;
    }
}
