@import 'scss/_variables.scss';

$slider-height: 0.8rem;
$thumb-height: $slider-height + 0.7rem;

.slider--container {
    display: flex;
    align-items: center;
    margin: 0.6rem 0;
    width: 100%;

    output {
        font-size: 3rem;
        color: white;
    }

    .label {
        font-size: 1.4rem;
        font-weight: 400;
        padding: 0.2rem 0.3rem 0.5rem 0;
        margin-right: 0.6rem;
        width: 3rem;
    }

    input[type='range'] {
        -webkit-appearance: none;
        width: 100%;
        height: $slider-height;
        border-radius: $slider-height;
        outline: none;
        background-image: linear-gradient(
            to right,
            blue,
            // $light-blue,
            rgb(155, 0, 0)
        );

        &:disabled {
            opacity: 0.4;
        }

        &::-webkit-slider-thumb {
            appearance: none;
            width: $thumb-height;
            height: $thumb-height;
            background: white;
            cursor: pointer;
            border: 0.1rem solid grey;
            border-radius: 50%;
            transition: all 0.2s ease-in-out;

            &:active {
                transform: scale(1.4);
            }
        }
    }
}
