@import 'scss/_variables.scss';

.list {
    a {
        color: $eggshell;
    }
    .list-row {
        display: flex;
        padding: 1rem;

        .list-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-left: 1rem;

            .list-artist {
                font-style: italic;
                font-size: 1.4rem;
            }
        }
    }
}
