@import 'scss/_variables.scss';


.header {
    display: flex;
    justify-content: space-between;
    background-color: $eggshell;
    padding: 2rem;

     a {
        &:not(:last-of-type) {
            margin-right: 1rem;
        }
    }

    .fal {
        font-size: 30px;
    }

}