@import 'scss/_variables.scss';

.button-custom {
        // border: none;
        // background: none;
        // padding: 0;
        cursor: pointer;
        font-size: 1.6rem;


        &.control {

            &:hover:not(:disabled),
            &.current {
                color: $light-blue;
            }
        }
}
