@import 'scss/_variables.scss';

.rate--stars-row {
  display: flex;
  justify-content: space-between;

  > span {
    margin-right: 3rem;
  }

  .rate--stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    cursor: pointer;

    .star-wrapper {
      display: block;
      position: relative;
      height: $star-size;
      width: $star-size;

      .clip {
        height: $star-size;
        width: $star-size;
        box-sizing: border-box;
        clip-path: $star-full;
        background-color: $eggshell;

        &.half {
          clip-path: $star-half;
        }

        &.background {
          top: 0;
          left: 0;
          position: absolute;
          opacity: 0.2;
        }

        &:hover {
          opacity: 1;
          transition: all 0.2s ease-in-out;
          transform: scale(1.1);
        }
      }
    }
  }
}
