@import 'scss/_variables.scss';

.rating--stars-row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;

  > span {
    margin-right: 3rem;
  }

  .rating--stars {
    display: flex;
    justify-content: space-between;
    width: 100px;

    .star-wrapper {
      display: block;
      position: relative;
      height: $star-size;
      width: $star-size;

      .clip {
        height: $star-size;
        width: $star-size;
        box-sizing: border-box;
        clip-path: $star-full;
        background-color: $eggshell;

        &.half {
          clip-path: $star-half;
        }

        &.background {
          top: 0;
          left: 0;
          position: absolute;
          opacity: 0.2;
        }
      }
    }
  }
}
